

.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background:  #eeeeee
}
.Form__admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #787878;
    border-radius: 10px;
    width: 20%;
    padding-bottom: 10px;
    background:#f6f6f6 ;
}
.Form__admin label{
    margin-top: 5px;
}
.Form__admin button{
    margin-top: 5px;
    cursor: pointer;
}